@import url('https://fonts.cdnfonts.com/css/kerosby-trial');
@import url('https://fonts.cdnfonts.com/css/ikka-rounded');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definições de estilo gerais */
body {
    font-family: 'Ikka Rounded', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
h2{
    font-family: 'KEROSBY Trial', sans-serif;
    color: #006400;
    font-size: 30px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-family: 'KEROSBY Trial', sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-family: 'Ikka Rounded', sans-serif;
    font-size: 18px;
    color: #85e285;
}

section {
    padding: 40px 0;
}

.sobre {
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre h2 {
    font-family: 'KEROSBY Trial', sans-serif;
    font-size: 28px;
    color: #006400;
}

.sobre p {
    font-family: 'Ikka Rounded', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}

.cadastro {
    background-color: #e8f5e9;
    text-align: center;
    border-radius: 10px;
}

.cadastro h2 {
    font-family: 'KEROSBY Trial', sans-serif;
    font-size: 28px;
    color: #006400;
}

.cadastro p {
    font-family: 'Ikka Rounded', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    font-family: 'KEROSBY Trial', sans-serif;
    background-color: #006400;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #004d1a;
}

footer {
    font-family: 'Ikka Rounded', sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos para as imagens */
.imagens {
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.item-imagem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.item-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.item-imagem:hover {
    transform: scale(1.05);
}

.item-imagem:hover img {
    transform: scale(1.1);
}

.efeito {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 100, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: background 0.3s;
    transform: translateY(100%);
}

.item-imagem:hover .efeito {
    transform: translateY(0);
}